* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    transition: .3s ease;
}

body {
    background: linear-gradient(136.16deg, rgba(91, 135, 75, 0.76) 12.91%, #0C3720 87.68%);
    width: 100%;
    min-height: 100vh;
    padding: 20px 50px;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.link-nav {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.41px;
    color: #F8F8FD;
    text-decoration: none;
    position: relative;
}

.underline::after {
    content: "";
    width: 0%;
    height: 2px;
    bottom: -3px;
    left: 0;
    position: absolute;
    background-color: #F8F8FD;
    transition: .3s ease;
}

.underline:hover::after {
    width: 100%;
}

.btn-link {
    padding: 10px 20px;
    border-radius: 41px;
    border: 1px solid #F8F8FD;
}

.btn-link:hover {
    opacity: .7;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.container-left {
    width: 50%;
    height: 450px;
    position: relative;
}

.container-left img {
    width: 100%;
    position: absolute;
    bottom: 60px;
    left: -50px;
    animation: moveAbobora 2s infinite alternate ease-in-out;
}

.container-left-info {
    position: absolute;
    bottom: 0px;
    left: 50px;

    padding-right: 20px;
    border-right: 1px solid #A7DE93;
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 85px;
}

.container-left-info::after {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50px;
    background-color: #A7DE93;
    position: absolute;
    right: -6.6px;
    top: -11px;
}

.container-left-info p:first-child {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: right;
}

.container-left-info p:last-child {
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: right;
}

.container-right {
    margin-top: 30px;
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.container-right h2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: #F8F8FD;
}

.container-right-info p:first-child {
    font-size: 68px;
    font-weight: 900;
    line-height: 74.12px;
    color: #FFFFFF;
}

.container-right-info p:last-child {
    font-size: 16px;
    font-weight: 400;
    line-height: 28.8px;
    color: #FFFFFF;
}

.container-actions {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.container-actions button {
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
    color: #303056;
    background-image: url("./assets/btn-bg.svg");
    background-color: transparent;
    border: none;
    padding: 30px 46px;
    cursor: pointer;
}

.container-actions button:hover {
    opacity: .8;
    color: #FFFFFF;
}

.container-actions a {
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: right;
    text-decoration: none;
    color: #FFFFFF;
}

.container-actions a:hover {
    opacity: .8;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.a-ghost {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 600;
    line-height: 22.5px;
    text-align: center;
    background-color: transparent;
    border: none;
    background-image: url("./assets/btn-border.svg");
    padding: 34px 50px;
    text-decoration: none;
}

.a-ghost:hover {
    color: #303056;
}

@keyframes moveAbobora {
    from {
        transform: translate(-5%, -5%) rotate(15deg);
    }

    to {
        transform: translate(0, 0) rotate(-15deg);

    }
}

@media screen and (max-width: 800px){
    body {
        padding: 12px 24px;
        overflow-x: hidden;
    }

    nav {
        display: none;
    }

    section {
        flex-direction: column;
    }

    .container-left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-left img {
        width: 80%;
        left: 0;
    }

    .container-left-info {
        left: auto;
    }

    .container-right {
        width: 100%;
        text-align: center;
    }

    .container-right p {
        text-align: center;
    }
}